/* Mobile devices Responsive */

@media only screen and (max-width: 688px) {
	.slider-img {
		height: 40vh;
	}
	.silder-title {
		font-size: 30px !important;
	}
	#slider-para {
		width: 100% !important;
	}
	#slider-btn {
		padding: 5px 10px !important;
		font-size: 16px !important;
	}
	.course-title {
		width: 100% !important;
	}
	.course-text {
		width: 100% !important;
	}
	#course-img {
		width: 100%;
	}
	.hero-pic {
		height: 100% !important;
	}
	.Register-title {
		text-align: center !important;
	}
	#Register-btn {
		justify-content: center !important;
	}
	.faq-section {
		width: 100% !important;
	}
	.companies-section {
		display: none !important;
	}
}

/* Tab Devices Responsive */

@media only screen and (min-width: 689px) and (max-width: 992px) {
	.slider-img {
		height: 40vh;
	}
	.silder-title {
		font-size: 50px !important;
	}
	#slider-para {
		width: 100% !important;
	}
	.course-title {
		width: 100% !important;
	}
	.course-text {
		width: 80% !important;
	}
	.hero-pic {
		height: 100% !important;
	}
	.Register-title {
		text-align: center !important;
	}
	#Register-btn {
		justify-content: center !important;
	}
	.faq-section {
		width: 100% !important;
	}
	.companies-section {
		display: none !important;
	}
}
